.cardList {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.item {
  display: inline-block;
  width: calc((100% - 3 * 15px) / 4);
  height: 150px;
  /* border: black; */
  border: 1px solid salmon;
}
